In [1]:
## import library
import pandas as pd

In [3]:
## read the data

df = pd.read_csv("edu-loans.csv")
df.head()

,OPE ID,School,academic_year,State,Zip Code,School Type,dl_sub_rec,dl_sub_#loans_disbursed,dl_sub_$loans_disbursed,dl_unsub_underg_rec,...,dl_unsub_underg$loans_disbursed,dl_unsub_grad_rec,dl_unsub_grad#loans_disbursed,dl_unsub_grad$loans_disbursed,dl_parentplus_rec,dl_parentplus#loans_disbursed,dl_parentplus$loans_disbursed,dl_gradplus_rec,dl_gradplus#loans_disbursed,dl_gradplus$loans_disbursed
0,100200,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY,2020-2021,AL,357621357,Public,3034,5887,11737977,2900,...,9331661,722,1581,11163839,982,1996,13293484,153,362,1291075
1,100300,FAULKNER UNIVERSITY,2020-2021,AL,361093398,Private-Nonprofit,1289,3733,5134451,1385,...,5534065,766,2611,10753738,189,409,1930723,194,573,4532638
2,100400,UNIVERSITY OF MONTEVALLO,2020-2021,AL,351156000,Public,973,1897,3758966,1093,...,4018904,248,520,3533049,228,483,2712922,28,45,254168
3,100500,ALABAMA STATE UNIVERSITY,2020-2021,AL,361045714,Public,2158,4213,8265804,2167,...,7005813,359,753,6364934,511,1169,5731623,177,474,2196389
4,100700,CENTRAL ALABAMA COMMUNITY COLLEGE,2020-2021,AL,350100000,Public,223,448,664603,116,...,343678,-,-,-,3,6,29426,-,-,-

In [6]:
## lower case all college names
df["School"] = df["School"].str.lower()

In [7]:
df.head()

,OPE ID,School,academic_year,State,Zip Code,School Type,dl_sub_rec,dl_sub_#loans_disbursed,dl_sub_$loans_disbursed,dl_unsub_underg_rec,...,dl_unsub_underg$loans_disbursed,dl_unsub_grad_rec,dl_unsub_grad#loans_disbursed,dl_unsub_grad$loans_disbursed,dl_parentplus_rec,dl_parentplus#loans_disbursed,dl_parentplus$loans_disbursed,dl_gradplus_rec,dl_gradplus#loans_disbursed,dl_gradplus$loans_disbursed
0,100200,alabama agricultural & mechanical university,2020-2021,AL,357621357,Public,3034,5887,11737977,2900,...,9331661,722,1581,11163839,982,1996,13293484,153,362,1291075
1,100300,faulkner university,2020-2021,AL,361093398,Private-Nonprofit,1289,3733,5134451,1385,...,5534065,766,2611,10753738,189,409,1930723,194,573,4532638
2,100400,university of montevallo,2020-2021,AL,351156000,Public,973,1897,3758966,1093,...,4018904,248,520,3533049,228,483,2712922,28,45,254168
3,100500,alabama state university,2020-2021,AL,361045714,Public,2158,4213,8265804,2167,...,7005813,359,753,6364934,511,1169,5731623,177,474,2196389
4,100700,central alabama community college,2020-2021,AL,350100000,Public,223,448,664603,116,...,343678,-,-,-,3,6,29426,-,-,-

In [8]:
## get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20467 entries, 0 to 20466
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OPE ID                           20467 non-null  int64
 1   School                           20467 non-null  object
 2   academic_year                    20467 non-null  object
 3   State                            18956 non-null  object
 4   Zip Code                         20398 non-null  object
 5   School Type                      20467 non-null  object
 6   dl_sub_rec                       20467 non-null  object
 7   dl_sub_#loans_disbursed          20467 non-null  object
 8   dl_sub_$loans_disbursed          20467 non-null  object
 9   dl_unsub_underg_rec              20467 non-null  object
 10  dl_unsub_underg#loans_disbursed  20467 non-null  object
 11  dl_unsub_underg$loans_disbursed  20467 non-null  object
 12  dl_unsub_grad_rec                20467 non-null  object
 13  dl_unsub_grad#loans_disbursed    20467 non-null  object
 14  dl_unsub_grad$loans_disbursed    20467 non-null  object
 15  dl_parentplus_rec                20467 non-null  object
 16  dl_parentplus#loans_disbursed    20467 non-null  object
 17  dl_parentplus$loans_disbursed    20467 non-null  object
 18  dl_gradplus_rec                  20467 non-null  object
 19  dl_gradplus#loans_disbursed      20467 non-null  object
 20  dl_gradplus$loans_disbursed      20467 non-null  object
dtypes: int64(1), object(20)
memory usage: 3.3+ MB